textarea{
    display: block;
}
button{
    align-self:center;
    display:block;
}
main{
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-items: space-around;
    
}
div{
    margin: 10px;
    border: thin solid black;
}
